Source: huayra-archive-keyring
Section: misc
Priority: optional
Maintainer: Fernando Toledo <ragnarok@docksud.com.ar>
Standards-Version: 3.8.3

Package: huayra-archive-keyring
Priority: important
Architecture: all
Multi-Arch: foreign
Recommends: gpgv
Description: GnuPG keys of the Huayra archive
 The Huayra project digitally signs its Release files. This package
 contains the archive keys used for that.

Package: huayra-archive-keyring-udeb
Priority: optional
Architecture: all
Section: debian-installer
Recommends: gpgv-udeb
Description: GnuPG keys of the Huayra archive
 The Huayra project digitally signs its Release files. This package
 contains the archive keys used for that, in a minimal form for use
 in the installer.
